<main>
  <div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div class="card mb-3">
              <div class="card-body">
                <div class="logo">
                  <img src="assets/img/PlanProLogo.png" alt="" class="logo-img">
                </div>
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                  <p class="text-center small">Enter your personal details to create account</p>
                </div>
                <form class="row g-3" (ngSubmit)="signup()">
                  <div class="col-12">
                    <label for="yourName" class="form-label">Your Name</label>
                    <input type="text" name="name" class="form-control" [(ngModel)]="fullName" (blur)="submitted = true">
                    <div class="invalid-feedback" *ngIf="submitted && fullName === ''">Please enter your full name.</div>
                  </div>
                  <div class="col-12">
                    <label for="yourEmail" class="form-label">Your Email</label>
                    <input type="email" name="email" class="form-control" [(ngModel)]="email" (blur)="submitted = true">
                    <div class="invalid-feedback" *ngIf="submitted && email === ''">Please enter your email.</div>
                    <div class="invalid-feedback" *ngIf="submitted && !isValidEmail(email)">Please enter a valid email address.</div>
                  </div>
                  <div class="col-12">
                    <label for="yourPassword" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" [(ngModel)]="password" (blur)="submitted = true">
                    <div class="invalid-feedback" *ngIf="submitted && password === ''">Please enter your password.</div>
                  </div>
                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">Create Account</button>
                  </div>
                  <div class="col-12 text-center mt-3" *ngIf="loading">
                    <div class="spinner-border" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </div>
                  <div class="mt-3 alert alert-danger" *ngIf="errorMessage">
                    {{ errorMessage }}
                  </div>
                  <div class="col-12">
                    <p class="small mb-0 text-center">Already have an account? </p>
                    <div class="col-12 text-center" id="buttonContainer">
                      <button id="GoToLoginButton" class="btn btn-primary" (click)="goToLogIn()">Log In to your Account</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
