<div class="notifications-container" *ngIf="notifications && notifications.length > 0">
  <div class="notifications-title">
    <h2>Notifications</h2>
  </div>
  
  <div class="notification-list">
    <div *ngFor="let notification of notifications"  (click)="ChangeNotificationVue(notification.id, notification.vue)" >
      <div class="notification-item" *ngIf="notification.vue==false" [hidden]="notification.vue==true">
      <div class="notification-header">
        <h3>{{ notification.title }}</h3>
        
        <p class="reception-date">{{ notification.creationDate | date:'medium' }}</p>
      </div>
      <div class="notification-description">
        <p>{{ notification.description }}</p>
      </div>
    </div>
  </div>
  </div>
</div>

<div *ngIf="notifications && notifications.length === 0">
  <p>No notifications found.</p>
</div>
