/* Styles for the login page */
.login-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 50px; /* Increased padding */
    border: 1px solid #ced4da;
    text-align: center; /* Center text horizontally */
  }
  
  .logo {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    text-align: center; 
    
  }



.logo-img {
    width:1000px; /* Adjust width as needed */
    height: 100px; /* Maintain aspect ratio */
    display: inline-block; /* Make the image centerable */
    margin: 0 auto 0 40px;
}
  
  .logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    display: inline-block;
    vertical-align: middle; /* Center text vertically */
  }
  
 
  
  .card-title {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  
  }
  
  .form-control {
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  #createAcountButton{
    background-color: #218253;
    border-color: #262b30;
  }
  
  .alert-danger {
    margin-top: 20px;
  }
  
  .small {
    font-size: 14px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .mt-3 {
    margin-top: 20px;
  }
  
  .spinner-border {
    display: inline-block;
    width: 24px;
    height: 24px;
  }

 

  
  
  