
<a routerLink="/dashboard/companies" >&lt;&lt;--Back to Companies</a>
<br>
<br>

<div class="card" *ngIf="company != null">
    <div class="card-body">
        <h3>{{ company.name }}</h3>
        <div>
            <span class="badge bg-primary text-white">{{ company.activity_sector }}</span>
        </div>
        <p class="text-muted mb-0">
            {{ company.descreption }}
        </p>
        <p class="text-muted mb-0">
            {{ company.email }} / {{ company.phone }} / {{ company.fax }}
        </p>
        <p class="text-muted mb-0">
            {{ company.descreption }}
        </p>
        <p class="text-muted mb-0">
            {{ company.social }}
        </p>



        <hr>


        <div class="mb-3">
            <a routerLink="/dashboard/projects/add/{{ company.id }}" class="btn btn-sm btn-primary">Create Project</a> 
        </div>
    
        <div class="alert alert-warning mb-3"   *ngIf=" projects.length == 0 ">
            Looks like you need to create your first Project.
        </div>
    </div>
    
<app-project-by-company></app-project-by-company>
   
    
</div>

 